/* @media (max-width: 1088px) { */
@media (max-width: 769px) {
  /*********************** page 1 ***********************/
  .page1 {
    width: 100vw;
    height: 100vh;
  }

  /*********************** page 2 ***********************/
  .page2 {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  /******** page 2 film bottom********/
  .page2__film--left {
    padding: 1.5rem 0;
    margin-bottom: 2rem;
    width: 795vw;
    height: 18.3rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .page2__film--left {
    background: url("/assets/img/imgbin_filmstrip-film-frame-png-1.png")
      repeat-x center center/ contain;
  }

  .page2__film--left--bg {
    height: 12.2rem;
  }

  .page2 .page2__film--left .page2__film--left--bg img {
    padding: 0.5rem 0.5rem;
    margin-bottom: 5rem;
    border-radius: 10%;
    height: 12.9rem;
    width: 13rem;
    transform: translateX(0);
    animation-name: film;
    animation-duration: 40s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 5s;
  }

  @keyframes film {
    to {
      transform: translateX(-4000%);
    }
  }

  /******* page 2 main *******/

  .page2__main .page2__main--profile_img {
    height: 30vh;
    width: 41vw;
    margin-top: 5rem;
  }

  .page2__main__about--btn1 {
    position: absolute;
    top: 70%;
    left: 29%;
    cursor: pointer;
  }

  .page2__main__about--btn2 {
    position: absolute;
    top: 70%;
  }

  .page2__main__about--btn1 .humburger .checkbox__name,
  .page2__main__about--btn2 .humburger .checkbox__name {
    font-size: 2.2rem;
    font-weight: 600;
    padding: 1rem;
    margin: 0 8vw;
    width: 15vw;
    background: var(--secondary-color);
    border: 0.2rem var(--primary-color-dark) solid;
    border-radius: 1.5rem;
    position: relative;
    color: var(--light-color);
  }

  .page2__main__about--btn1 .humburger .checkbox__name {
    padding: 1rem 3rem;
  }

  .page2__main__about--btn1 .menu {
    position: absolute;
    bottom: 2.5rem;
    left: -17rem;
    height: 18vh;
    max-width: 100vw;
    z-index: 2;
  }

  .page2__main__about--btn2 .menu {
    position: absolute;
    bottom: 0.5rem;
    left: -47rem;
    height: 55vh;
    width: 95vw;
    z-index: 2;
  }

  .page2__main__about--btn1 .menu > div > div > ul > li {
    list-style: none;
    color: var(--dark-color);
    font-size: 2rem;
    padding: 2rem;
    margin: 0 1vw;
    height: 14vh;
    width: 14vw;
    border-radius: 50%;
    box-shadow: 5px 5px 20px #cbac81;
  }

  .page2__main__about--btn2 .menu > div > div {
    box-shadow: 5px 5px 20px #c19c69;
    padding: 2rem;
  }

  .page2__main__about--btn2 .menu > div > div > p {
    font-size: 2.3rem;
  }

  .page2__main__about--btn2 .menu > div > div > p > span {
    font-weight: 700;
  }

  .page2__main__about--btn2 .menu > div > div > h2 {
    font-size: 2rem;
    text-align: start;
    padding: 3rem 0 0 0;
  }

  .page2__main__about--btn2 .menu > div > div > ul {
    padding-left: 5rem;
  }

  .page2__main__about--btn2 .menu > div > div > ul > li {
    color: var(--dark-color);
    font-size: 2rem;
    padding: 1rem;
    margin: 0 2vw;
    text-align: start;
  }

  .page2__main__about--btn2 .menu > div > div > ul > li > span {
    font-weight: bolder;
    color: black;
  }

  /****** page 2 main arrow ******/
  .arrow--page2 i {
    left: 49%;
    bottom: 19%;
  }

  /*********************** page 3 ***********************/
  .page3 {
    width: 100vw;
    min-height: 100vh;
  }

  .page3__container {
    display: grid;
    max-width: 90vw;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    overflow: hidden;
    height: 100%;
    margin: 10rem 0;
  }

  .page3__followMe {
    position: absolute;
    bottom: 1rem;
    left: 40%;
  }
}

@media (max-width: 500px) {
  /*********************** Navbar ***********************/
  .navbar .navbar__links {
    opacity: 0;
    z-index: -1;
  }

  .menu-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    opacity: 1;
  }
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
    padding-top: 1.5rem;
  }

  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
    font-size: 2.5rem;
  }

  /*********************** page 2 ***********************/

  /******** page 2 film bottom********/
  .page2__film--left {
    padding: 1.3rem 0;
    margin-bottom: 1.5rem;
    width: 795vw;
    height: 12rem;
  }
  .page2__film--left--bg {
    height: 8rem;
  }

  .page2 .page2__film--left .page2__film--left--bg img {
    padding: 0rem 0.3rem;
    margin-bottom: 5rem;
    height: 8rem;
    width: 10rem;
  }

  @keyframes film {
    to {
      transform: translateX(-2870%);
    }
  }

  /******* page 2 main *******/
  .page2__main .page2__main--profile_img {
    height: 30vh;
    width: 70vw;
    margin-top: 0;
    /* padding-bottom: 1rem; */
  }

  .page2__main > p {
    padding: 2rem 3rem;
    font-size: 2rem;
  }

  /****** page 2 main btn ******/
  .page2__main__about--btn1 {
    position: absolute;
    top: 71%;
    left: 22%;
  }

  .page2__main__about--btn2 {
    position: absolute;
    top: 71%;
  }

  .page2__main__about--btn1 .humburger .checkbox__name,
  .page2__main__about--btn2 .humburger .checkbox__name {
    font-size: 2.1rem;
    margin: 0;
    width: 30vw;
  }

  .page2__main__about--btn1 .humburger .checkbox__name {
    padding: 1rem 3rem;
  }

  .page2__main__about--btn1 .menu {
    position: absolute;
    bottom: 0;
    left: -7.9rem;
    height: 25vh;
    width: 98vw;
    z-index: 2;
  }

  .page2__main__about--btn2 .menu {
    position: absolute;
    bottom: 0.5rem;
    left: -23rem;
    height: 57vh;
    width: 95vw;
    z-index: 2;
  }

  .page2__main__about--btn1 .menu > div > div > ul > li {
    font-size: 1.2rem;
    padding: 2rem 0.5rem;
    margin: 0;
    height: 13vh;
    width: 18vw;
    border-radius: 50%;
    box-shadow: 5px 5px 20px #cbac81;
  }

  .page2__main__about--btn2 .menu > div > div > p {
    font-size: 1.2rem;
    /* flex-wrap: wrap; */
  }

  /* .page2__main__about--btn1 .menu > div > div > ul > li > img {
    padding: 0 1rem;
  } */

  .page2__main__about--btn2 .menu > div > div > h2 {
    padding: 0;
  }

  .page2__main__about--btn2 .menu > div > div > ul > li {
    color: var(--dark-color);
    font-size: 1.3rem;
    padding: 0.5rem;
    margin: 0 2vw;
    text-align: start;
  }

  /****** page 2 main arrow ******/
  .arrow--page2 i {
    left: 46%;
    bottom: 17%;
  }

  /*********************** page 3 ***********************/
  .page3__container {
    display: grid;
    max-width: 90vw;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 13rem;
  }

  .page3__followMe {
    left: 31%;
    margin-top: 2rem;
  }
}

@media (max-height: 670px) {
  /*********************** Navbar ***********************/
  .navbar .navbar__links {
    opacity: 0;
    z-index: -1;
  }

  .menu-wrap .menu > div > div {
    padding-top: 0.3rem;
  }

  .menu-wrap .menu > div > div > ul > li > a {
    font-size: 1.5rem;
  }

  /*********************** page 2 ***********************/

  /******** page 2 film bottom********/
  .page2__film--left {
    padding: 1.2rem 0;
    margin-bottom: 1rem;
    width: 795vw;
    height: 9.8rem;
  }
  .page2__film--left--bg {
    height: 6.5rem;
  }

  .page2 .page2__film--left .page2__film--left--bg img {
    padding: 0rem 0.3rem;
    margin-bottom: 7rem;
    height: 6.5rem;
    width: 10rem;
  }

  /******* page 2 main *******/
  .page2__main .page2__main--profile_img {
    height: 26vh;
    width: 50vw;
    margin-bottom: 3rem;
  }

  .page2__main > p {
    padding: 1rem;
    font-size: 1.5rem;
  }

  /****** page 2 main btn ******/
  .page2__main__about--btn1 {
    position: absolute;
    top: 68%;
    left: 22%;
  }
  .page2__main__about--btn2 {
    top: 68%;
  }
  .page2__main__about--btn1 .humburger .checkbox__name,
  .page2__main__about--btn2 .humburger .checkbox__name {
    font-size: 1.5rem;
  }

  .page2__main__about--btn1 .humburger .checkbox__name {
    padding: 1rem 3rem;
  }

  .page2__main__about--btn1 .menu {
    position: absolute;
    bottom: 0.6rem;
    left: -8rem;
    height: 21vh;
    width: 100vw;
    z-index: 2;
  }

  .page2__main__about--btn2 .menu {
    position: absolute;
    bottom: 0.5rem;
    left: -19.7rem;
    height: 64vh;
    width: 95vw;
    z-index: 2;
  }

  .page2__main__about--btn1 .menu > div > div > ul > li {
    font-size: 1.1rem;
    padding: 1rem;
    margin: 0;
    height: 15vh;
    width: 18vw;
    border-radius: 50%;
    box-shadow: 5px 5px 20px #cbac81;
  }

  .page2__main__about--btn1 .menu > div > div > ul > li > img {
    height: 4rem;
    width: 5rem;
    padding-right: 1.5rem;
  }

  .page2__main__about--btn2 .menu > div > div > p {
    font-size: 2rem;
  }

  .page2__main__about--btn2 .menu > div > div > h2 {
    font-size: 1.7rem;
    padding: 0;
  }

  .page2__main__about--btn2 .menu > div > div > ul > li {
    color: var(--dark-color);
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0 2vw;
    text-align: start;
  }

  /****** page 2 main arrow ******/
  .arrow--page2 i {
    left: 46%;
    bottom: 17%;
  }
}
