@media (max-width: 1088px) {
  /*********************** page 1 ***********************/
  .page1 {
    width: 100vw;
    height: 100vh;
  }

  /*********************** page 2 ***********************/
  .page2 {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  /******** page 2 film bottom********/
  .page2__film--left {
    padding: 1.5rem 0;
    margin-bottom: 2rem;
    width: 795vw;
    height: 18.3rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .page2__film--left {
    background: url("/assets/img/imgbin_filmstrip-film-frame-png-1.png")
      repeat-x center center/ contain;
  }

  .page2__film--left--bg {
    height: 12.2rem;
  }

  .page2 .page2__film--left .page2__film--left--bg img {
    padding: 0.5rem 0.5rem;
    margin-bottom: 5rem;
    border-radius: 10%;
    height: 12.9rem;
    width: 13rem;
    transform: translateX(0);
    animation-name: film;
    animation-duration: 40s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 5s;
  }

  @keyframes film {
    to {
      transform: translateX(-4000%);
    }
  }

  /******* page 2 main *******/

  .page2__main .page2__main--profile_img {
    height: 30vh;
    width: 41vw;
    margin-top: 5rem;
  }

  .page2__main__about--btn1 p,
  .page2__main__about--btn2 p {
    font-size: 1.5rem;
    width: 23vw;
  }

  .page2__main__about--btn1 p::before {
    height: 47vh;
    width: 66vw;
    position: absolute;
    top: -2vh;
    left: 23vh;
    font-size: 1.5rem;
    line-height: 1.6;
    padding: 5rem 4rem;
    overflow: hidden;
  }

  .page2__main__about--btn2 p::before {
    content: attr(data-p);
    height: 47vh;
    width: 66vw;
    position: absolute;
    top: -2vh;
    left: -6vh;
    font-size: 1.5rem;
    line-height: 1.6;
    padding: 5rem 4rem;
    overflow: hidden;
  }

  /****** page 2 main arrow ******/
  .arrow--page2 i {
    left: 49%;
    bottom: 19%;
  }

  /*********************** page 3 ***********************/
  .page3 {
    width: 100vw;
    min-height: 100vh;
  }

  .page3__container {
    display: grid;
    max-width: 90vw;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    overflow: hidden;
    height: 100%;
    margin: 10rem 0;
  }

  .page3__followMe {
    position: absolute;
    bottom: 1rem;
    left: 40%;
  }
}

@media (max-width: 500px) {
  /*********************** Navbar ***********************/
  .navbar .navbar__links {
    opacity: 0;
    z-index: -1;
  }

  .menu-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    opacity: 1;
  }
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
    padding-top: 1.5rem;
  }

  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
    font-size: 2.5rem;
  }

  /*********************** page 2 ***********************/

  /******** page 2 film bottom********/
  .page2__film--left {
    padding: 1.3rem 0;
    margin-bottom: 1.5rem;
    width: 795vw;
    height: 12rem;
  }
  .page2__film--left--bg {
    height: 8rem;
  }

  .page2 .page2__film--left .page2__film--left--bg img {
    padding: 0rem 0.3rem;
    margin-bottom: 5rem;
    height: 8rem;
    width: 10rem;
  }

  @keyframes film {
    to {
      transform: translateX(-2870%);
    }
  }

  /******* page 2 main *******/
  .page2__main .page2__main--profile_img {
    height: 30vh;
    width: 70vw;
    margin-top: 5rem;
    padding-bottom: 1rem;
  }

  .page2__main > p {
    padding: 2rem 3rem;
  }

  /****** page 2 main btn ******/
  .page2__main__about {
    padding-top: 0;
  }

  .page2__main__about--btn1 p {
    padding: 1rem;
    width: 29vw;
  }

  .page2__main__about--btn2 p {
    width: 29vw;
  }

  .page2__main__about--btn1 p::before {
    height: 53vh;
    width: 81vw;
    top: -2vh;
    left: 17vh;
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 2rem;
    overflow: hidden;
  }

  .page2__main__about--btn2 p::before {
    height: 53vh;
    width: 81vw;
    top: -2vh;
    left: -4vh;
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 2rem;
    overflow: hidden;
  }

  /****** page 2 main arrow ******/
  .arrow--page2 i {
    left: 46%;
    bottom: 17%;
  }

  /*********************** page 3 ***********************/
  .page3__container {
    display: grid;
    max-width: 90vw;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 13rem;
  }

  .page3__followMe {
    left: 31%;
    margin-top: 2rem;
  }
}

@media (max-height: 670px) {
  /*********************** Navbar ***********************/
  .navbar .navbar__links {
    opacity: 0;
    z-index: -1;
  }

  .menu-wrap .menu > div > div {
    padding-top: 0.3rem;
  }

  .menu-wrap .menu > div > div > ul > li > a {
    font-size: 1.5rem;
  }

  /*********************** page 2 ***********************/

  /******** page 2 film bottom********/
  .page2__film--left {
    padding: 1.2rem 0;
    margin-bottom: 1rem;
    width: 795vw;
    height: 9.8rem;
  }
  .page2__film--left--bg {
    height: 6.5rem;
  }

  .page2 .page2__film--left .page2__film--left--bg img {
    padding: 0rem 0.3rem;
    margin-bottom: 7rem;
    height: 6.5rem;
    width: 10rem;
  }

  /******* page 2 main *******/
  .page2__main .page2__main--profile_img {
    height: 26vh;
    width: 50vw;
    margin-top: 5rem;
  }

  .page2__main > p {
    padding: 1rem;
    font-size: 1.7rem;
  }

  /****** page 2 main btn ******/
  .page2__main__about {
    padding-top: 0;
  }

  .page2__main__about--btn1 p {
    padding: 1rem;
    width: 29vw;
    font-size: 1.3rem;
  }

  .page2__main__about--btn2 p {
    width: 29vw;
    font-size: 1.3rem;
  }

  .page2__main__about--btn1 p::before {
    height: 37vh;
    width: 81vw;
    top: -2vh;
    left: 20.5vh;
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 2rem;
    overflow: hidden;
  }

  .page2__main__about--btn2 p::before {
    height: 37vh;
    width: 81vw;
    top: -2vh;
    left: -5vh;
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 2rem;
    overflow: hidden;
  }

  /****** page 2 main arrow ******/
  .arrow--page2 i {
    left: 46%;
    bottom: 21%;
  }
}
