@media (max-width: 1088px) {
  /*********************** page 1 ***********************/
  .page1 {
    width: 100vw;
    height: 100vh;
  }

  /*********************** page 2 ***********************/
  .page2 {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  /******** page 2 film bottom********/
  .page2__film--left {
    padding: 1.5rem 0;
    margin-bottom: 2rem;
    width: 795vw;
    height: 18.3rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .page2__film--left {
    background: url("/assets/img/imgbin_filmstrip-film-frame-png-1.png")
      repeat-x center center/ contain;
  }

  .page2__film--left--bg {
    height: 12.2rem;
  }

  .page2 .page2__film--left .page2__film--left--bg img {
    padding: 0.5rem 0.5rem;
    margin-bottom: 5rem;
    border-radius: 10%;
    height: 12.9rem;
    width: 13rem;
    transform: translateX(0);
    animation-name: film;
    animation-duration: 40s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 5s;
  }

  @keyframes film {
    to {
      transform: translateX(-4000%);
    }
  }

  /******* page 2 main *******/

  .page2__main .page2__main--profile_img {
    height: 30vh;
    width: 41vw;
    margin-top: 5rem;
  }

  /* .page2__main__about--btn1 p,
  .page2__main__about--btn2 p {
    font-size: 1.5rem;
    width: 23vw;
  }

  .page2__main__about--btn1 p::before {
    height: 47vh;
    width: 66vw;
    position: absolute;
    top: -2vh;
    left: 23vh;
    font-size: 1.5rem;
    line-height: 1.6;
    padding: 5rem 4rem;
    overflow: hidden;
  }

  .page2__main__about--btn2 p::before {
    content: attr(data-p);
    height: 47vh;
    width: 66vw;
    position: absolute;
    top: -2vh;
    left: -6vh;
    font-size: 1.5rem;
    line-height: 1.6;
    padding: 5rem 4rem;
    overflow: hidden;
  } */

  /* trying something new */
  .page2__main__about--btn1 {
    position: absolute;
    top: 70%;
    left: 29%;
    cursor: pointer;
    /* z-index: 100; */
  }

  /* .page2__main__about--btn1 .humburger .checkbox__name {
    font-size: 2.2rem;
    font-weight: 600;
    padding: 1rem;
    margin: 0 8vw;
    width: 15vw;
    background: var(--secondary-color);
    border: 0.2rem var(--primary-color-dark) solid;
    border-radius: 1.5rem;
    position: relative;
    color: var(--light-color);
  } */

  /* .page2__main__about--btn1 .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  } */

  /* .page2__main__about--btn1 .humburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  /* Show Menu */
  /* .page2__main__about--btn1 .toggler:checked ~ .menu {
    visibility: visible;
    transform: scale(1);
    transition: scale 1s ease-in-out;
  } */

  /* .page2__main__about--btn1 .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 1s;
  } */

  /* .page2__main__about--btn1 .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
  } */

  .page2__main__about--btn1 .menu {
    position: absolute;
    bottom: 2.5rem;
    left: -15rem;
    height: 18vh;
    width: 80vw;
    /* visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dfccb1;
    border-radius: 1.5rem;
    color: var(--dark-color); */
    z-index: 2;
  }

  /* .page2__main__about--btn1 .menu > div {
    background: #dfccb1;
    border-radius: 50%;
    width: 300vw;
    height: 300vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  } */

  /* .page2__main__about--btn1 .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  } */

  /* .page2__main__about--btn1 .menu > div > div > ul {
    display: flex;
  } */
  .page2__main__about--btn1 .menu > div > div > ul > li {
    list-style: none;
    color: var(--dark-color);
    font-size: 2rem;
    padding: 2rem;
    margin: 0 1vw;
    /* border: 2px black solid; */
    height: 14vh;
    width: 14vw;
    border-radius: 50%;
    box-shadow: 5px 5px 20px #d5bc99;
  }

  /****** page 2 main arrow ******/
  .arrow--page2 i {
    left: 49%;
    bottom: 19%;
  }

  /*********************** page 3 ***********************/
  .page3 {
    width: 100vw;
    min-height: 100vh;
  }

  .page3__container {
    display: grid;
    max-width: 90vw;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    overflow: hidden;
    height: 100%;
    margin: 10rem 0;
  }

  .page3__followMe {
    position: absolute;
    bottom: 1rem;
    left: 40%;
  }
}

@media (max-width: 500px) {
  /*********************** Navbar ***********************/
  .navbar .navbar__links {
    opacity: 0;
    z-index: -1;
  }

  .menu-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    opacity: 1;
  }
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
    padding-top: 1.5rem;
  }

  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
    font-size: 2.5rem;
  }

  /*********************** page 2 ***********************/

  /******** page 2 film bottom********/
  .page2__film--left {
    padding: 1.3rem 0;
    margin-bottom: 1.5rem;
    width: 795vw;
    height: 12rem;
  }
  .page2__film--left--bg {
    height: 8rem;
  }

  .page2 .page2__film--left .page2__film--left--bg img {
    padding: 0rem 0.3rem;
    margin-bottom: 5rem;
    height: 8rem;
    width: 10rem;
  }

  @keyframes film {
    to {
      transform: translateX(-2870%);
    }
  }

  /******* page 2 main *******/
  .page2__main .page2__main--profile_img {
    height: 30vh;
    width: 70vw;
    margin-top: 5rem;
    padding-bottom: 1rem;
  }

  .page2__main > p {
    padding: 2rem 3rem;
    font-size: 2rem;
  }

  /****** page 2 main btn ******/
  /* .page2__main__about {
    padding-top: 0;
  }

  .page2__main__about--btn1 p {
    padding: 1rem;
    width: 29vw;
  }

  .page2__main__about--btn2 p {
    width: 29vw;
  }

  .page2__main__about--btn1 p::before {
    height: 53vh;
    width: 81vw;
    top: -2vh;
    left: 17vh;
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 2rem;
    overflow: hidden;
  }

  .page2__main__about--btn2 p::before {
    height: 53vh;
    width: 81vw;
    top: -2vh;
    left: -4vh;
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 2rem;
    overflow: hidden;
  } */

  /* trying something new */
  .page2__main__about--btn1 {
    position: absolute;
    top: 71%;
    left: 22%;
    /* cursor: pointer; */
    /* z-index: 100; */
  }

  .page2__main__about--btn1 .humburger .checkbox__name {
    font-size: 2.1rem;
    /* font-weight: 600;
      padding: 1rem; */
    margin: 0;
    width: 19vw;
    /* background: var(--secondary-color);
      border: 0.2rem var(--primary-color-dark) solid;
      border-radius: 1.5rem;
      position: relative;
      color: var(--light-color); */
  }

  /* .page2__main__about--btn1 .toggler {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      cursor: pointer;
      width: 50px;
      height: 50px;
      opacity: 0;
    } */

  /* .page2__main__about--btn1 .humburger {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 60px;
      height: 60px;
      padding: 1rem;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
    } */

  /* Show Menu */
  /* .page2__main__about--btn1 .toggler:checked ~ .menu {
      visibility: visible;
      transform: scale(1);
      transition: scale 1s ease-in-out;
    } */

  /* .page2__main__about--btn1 .toggler:checked ~ .menu > div {
      transform: scale(1);
      transition-duration: 1s;
    } */

  /* .page2__main__about--btn1 .toggler:checked ~ .menu > div > div {
      opacity: 1;
      transition: opacity 0.4s ease 0.4s;
    } */

  .page2__main__about--btn1 .menu {
    position: absolute;
    bottom: 0.6rem;
    left: -7.9rem;
    height: 21vh;
    width: 98vw;
    /* visibility: hidden;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #dfccb1;
      border-radius: 1.5rem;
      color: var(--dark-color); */
    z-index: 2;
  }

  /* .page2__main__about--btn1 .menu > div {
      background: #dfccb1;
      border-radius: 50%;
      width: 300vw;
      height: 300vw;
      display: flex;
      flex: none;
      align-items: center;
      justify-content: center;
      transform: scale(0);
      transition: all 0.4s ease;
    } */

  /* .page2__main__about--btn1 .menu > div > div {
      text-align: center;
      max-width: 90vw;
      max-height: 100vh;
      opacity: 0;
      transition: opacity 0.4s ease;
    } */

  /* .page2__main__about--btn1 .menu > div > div > ul {
      display: flex;
    } */
  .page2__main__about--btn1 .menu > div > div > ul > li {
    /* list-style: none;
    color: var(--dark-color); */
    font-size: 1.2rem;
    padding: 1.5rem;
    margin: 0;
    /* border: 2px black solid; */
    height: 13vh;
    width: 18vw;
    border-radius: 50%;
    box-shadow: 5px 5px 20px #d5bc99;
  }

  .page2__main__about--btn1 .menu > div > div > ul > li > img {
    height: 5rem;
    width: 5rem;
    padding-right: 1rem;
  }
  /****** page 2 main arrow ******/
  .arrow--page2 i {
    left: 46%;
    bottom: 17%;
  }

  /*********************** page 3 ***********************/
  .page3__container {
    display: grid;
    max-width: 90vw;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 13rem;
  }

  .page3__followMe {
    left: 31%;
    margin-top: 2rem;
  }
}

@media (max-height: 670px) {
  /*********************** Navbar ***********************/
  .navbar .navbar__links {
    opacity: 0;
    z-index: -1;
  }

  .menu-wrap .menu > div > div {
    padding-top: 0.3rem;
  }

  .menu-wrap .menu > div > div > ul > li > a {
    font-size: 1.5rem;
  }

  /*********************** page 2 ***********************/

  /******** page 2 film bottom********/
  .page2__film--left {
    padding: 1.2rem 0;
    margin-bottom: 1rem;
    width: 795vw;
    height: 9.8rem;
  }
  .page2__film--left--bg {
    height: 6.5rem;
  }

  .page2 .page2__film--left .page2__film--left--bg img {
    padding: 0rem 0.3rem;
    margin-bottom: 7rem;
    height: 6.5rem;
    width: 10rem;
  }

  /******* page 2 main *******/
  .page2__main .page2__main--profile_img {
    height: 26vh;
    width: 50vw;
    margin-top: 5rem;
  }

  .page2__main > p {
    padding: 1rem;
    font-size: 1.5rem;
  }

  /****** page 2 main btn ******/
  /* .page2__main__about {
    padding-top: 0;
  }

  .page2__main__about--btn1 p {
    padding: 1rem;
    width: 29vw;
    font-size: 1.3rem;
  }

  .page2__main__about--btn2 p {
    width: 29vw;
    font-size: 1.3rem;
  }

  .page2__main__about--btn1 p::before {
    height: 37vh;
    width: 81vw;
    top: -2vh;
    left: 20.5vh;
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 2rem;
    overflow: hidden;
  }

  .page2__main__about--btn2 p::before {
    height: 37vh;
    width: 81vw;
    top: -2vh;
    left: -5vh;
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 2rem;
    overflow: hidden;
  } */

  /* trying something new */
  .page2__main__about--btn1 {
    position: absolute;
    top: 71%;
    left: 22%;
    /* cursor: pointer; */
    /* z-index: 100; */
  }

  .page2__main__about--btn1 .humburger .checkbox__name {
    font-size: 1.5rem;
    /* font-weight: 600;
        padding: 1rem; */
    /* margin: 0;
    width: 19vw; */
    /* background: var(--secondary-color);
        border: 0.2rem var(--primary-color-dark) solid;
        border-radius: 1.5rem;
        position: relative;
        color: var(--light-color); */
  }

  /* .page2__main__about--btn1 .toggler {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
      } */

  /* .page2__main__about--btn1 .humburger {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 60px;
        height: 60px;
        padding: 1rem;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
      } */

  /* Show Menu */
  /* .page2__main__about--btn1 .toggler:checked ~ .menu {
        visibility: visible;
        transform: scale(1);
        transition: scale 1s ease-in-out;
      } */

  /* .page2__main__about--btn1 .toggler:checked ~ .menu > div {
        transform: scale(1);
        transition-duration: 1s;
      } */

  /* .page2__main__about--btn1 .toggler:checked ~ .menu > div > div {
        opacity: 1;
        transition: opacity 0.4s ease 0.4s;
      } */

  .page2__main__about--btn1 .menu {
    position: absolute;
    bottom: 0.6rem;
    left: -6.2rem;
    height: 21vh;
    width: 94vw;
    /* visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #dfccb1;
        border-radius: 1.5rem;
        color: var(--dark-color); */
    z-index: 2;
  }

  /* .page2__main__about--btn1 .menu > div {
        background: #dfccb1;
        border-radius: 50%;
        width: 300vw;
        height: 300vw;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
      } */

  /* .page2__main__about--btn1 .menu > div > div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
      } */

  /* .page2__main__about--btn1 .menu > div > div > ul {
        display: flex;
      } */
  .page2__main__about--btn1 .menu > div > div > ul > li {
    /* list-style: none;
      color: var(--dark-color); */
    font-size: 1.1rem;
    padding: 1rem;
    margin: 0;
    /* border: 2px black solid; */
    height: 15vh;
    width: 18vw;
    border-radius: 50%;
    box-shadow: 5px 5px 20px #d5bc99;
  }

  .page2__main__about--btn1 .menu > div > div > ul > li > img {
    height: 4rem;
    width: 5rem;
    padding-right: 1.5rem;
  }

  /****** page 2 main arrow ******/
  .arrow--page2 i {
    left: 46%;
    bottom: 17%;
  }
}
