/*********************** Utility ***********************/
:root {
  --primary-color: #cbac81;
  --primary-color-dark: #8b6939;
  --secondary-color: #a7c6c2;
  --light-color: #f3f3f3;
  --dark-color: #333;
  /* --max-width: 1100px; */
}

body {
  min-height: 100vh;
  max-width: 100vw;
}

.page {
  min-height: 100vh;
  max-width: 100vw;
  /* border: 1px solid black; */
  position: relative;
  /* margin: auto; */
}

/*********************** Navbar ***********************/
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1.5rem;
  background: var(--secondary-color);
  opacity: 0.8;
  position: fixed;
  top: 0;
  z-index: 10;
}

.navbar h1 {
  color: var(--dark-color);
  font-size: 2.2rem;
}

.navbar .navbar__links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.navbar .navbar__links a {
  color: var(--dark-color);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding-top: 1.7rem;
  text-align: center;
}

/*********************** page 1 ***********************/
.page1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: url(../assets/img/erica-steeves-5D4s0Asiv_Y-unsplash.jpg)
    no-repeat center center/cover;
}

.page1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--light-color);
  height: 100%;
  width: 100%;
  opacity: 0.5;
}

.page1 h1 {
  font-size: 5rem;
  z-index: 1;
}

.page1 p {
  font-size: 2.2rem;
  font-weight: 500;
  padding: 0 5rem;
  z-index: 1;
}

/* Follow Me */
.followMe {
  z-index: 1;
}

.followMe a i {
  color: var(--dark-color);
  padding: 3rem 1rem 1rem 1rem;
  z-index: 1;
}

.arrow {
  z-index: 1;
}

.arrow i {
  color: var(--dark-color);
  font-size: 3.5rem;
  cursor: pointer;
  position: absolute;
  bottom: 1rem;
  left: 50%;
}

/*********************** page 2 ***********************/
.page2 {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  /* grid-template-areas:
    "nav nav nav nav nav nav nav nav"
    "film film film film film film film film"; */
  /* grid-template-columns: repeat(8, 1fr); */
  /* grid-template-rows: repeat(10, 1fr); */
  width: 100%;
  height: 100vh;
  background: var(--primary-color);
}

/* .page2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--light-color);
  height: 100%;
  width: 100%;
  opacity: 0.5;
} */

.page2__film--right {
  background: url(../assets/img/imgbin_filmstrip-film-frame-2-png.png) repeat-y
    left center/ contain;
  /* position: absolute;
  top: 0;
  left: 0; */
  /* display: grid;
  grid-template-rows: repeat(7, 1fr); */
  /* grid-row: 1 / span 10; */
  padding: 0 2.5rem;
  width: 18.3rem;

  /* grid-column: 1 / span 1; */
  /* overflow: hidden; */
  /* z-index: 2; */
}

.page2__film--right--bg {
  background: #3a383a;
}

img {
  /* padding: 0.3rem 0; */
  /* margin: 0 2.1rem; */
  padding: 0.2rem 0;
  border-radius: 10%;
  height: 13.2rem;
  width: 13.3rem;
}
